*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  height: 100vh;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: rgb(117, 117, 117);
}
.results{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.dots {
  --dot: 18px;   /* size */
  --gap: 6px;    /* gap */
  display: grid;
  grid-template-columns: repeat(10, var(--dot));
  gap: var(--gap);
}
.dot {
  width: var(--dot);
  height: var(--dot);
  border-radius: 50%;
  background: #ffffff;
}
.dot.filled { 
  background: #000000; 
}