@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  margin: 0;
  padding: 0;
}
body{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  position: relative;
  /* background-color: rgb(223, 223, 223); */
}
.livedLife, 
.sleepLife, 
.workLife, 
.phoneLife, 
.choreLife,
.freeLife{
  height: 100vh;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading{
  position: absolute;
  top: 40px;
  font-size: 30px;
  font-family: "Poppins", sans-serif;
}
.livedDots,
.sleepDots, 
.workDots, 
.phoneDots, 
.choreDots, 
.freeDots{
  --dot: 20px;
  --gap: 6px;
  --cols: 10;
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  width: calc(var(--cols) * var(--dot) + (var(--cols) - 1) * var(--gap)); /* fixes row width */
  justify-content: center;
}
.freeDots > *{
  width: var(--dot);
  height: var(--dot);
  border-radius: 50%;
  flex: 0 0 var(--dot); /* fixed “cell” width */
}
.dot {
  width: var(--dot);
  height: var(--dot);
  border-radius: 10px;
  background: rgb(194, 194, 194);
  /* box-shadow: 0px 0px 10px 0px rgb(194, 194, 194); */
}
.dot.filled { 
  background: #000000; 
}
.dot.sleep {
  background: orange;
}
.dot.work {
  background: rgb(68, 151, 0);
}
.dot.phone {
  background: rgb(0, 114, 190);
}
.dot.chore {
  background: rgb(114, 0, 190);
}
.dot.free {
  background: rgb(0, 0, 0);
}
.livedText,
.sleepText,
.workText,
.phoneText,
.choreText,
.freeText{
  display: flex;
  width: 400px;
  height: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 25px;
  margin-top: 180px;
}
.scrollBtn{
  position: sticky;
  bottom: 40px;
  right: 40px;

  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  color: white;
  background: #000000;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}
.scrollBtn:active{
  background: #686868;
}