*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: rgb(141, 141, 141);
  height: 100vh;
  display: flex;
  justify-content: center;
}
.percentage-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
input{
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin: 10px 0px;
}

#display{
  height: 100px;
  width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

}
#submitBtn{
  padding: 10px;
  border: none;
  background-color: rgb(255, 134, 34);
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
}
#submitBtn:hover{
  background-color: rgb(163, 87, 24)
}
.select-container{
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  padding: 10px;
}
.select-options{
  margin: 0px 10px;
}
select{
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin: 10px 0px;
  cursor: pointer;
}
.errorMessage{
  color: rgb(196, 0, 0);
  font-size: 18px;
}